body {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  color: var(--color-dark);
  font-family: var(--font-family-primary), sans-serif;
  font-size: var(--font-size-l);
}
