.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 30px;
  text-align: center;
  box-shadow: 0 7px 25px 0 rgba(100, 100, 111, 0.2);
}

.itemPrimary {
  grid-column: span 3;
  grid-row: span 2;
  height: 262px;
}

.itemSecondary {
  grid-column: span 2;
  height: 150px;
}

.titlePrimary {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-3xl);
  line-height: 100%;
}

.titleSecondary {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-2xl);
  line-height: 120%;
}

.text {
  font-family: var(--font-family-secondary), sans-serif;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-m);
  line-height: 214%;
  color: var(--color-gray);
}

.textGray {
  color: var(--color-gray);
}

.alive {
  color: var(--color-status-alive);
}

.dead {
  color: var(--color-status-dead);
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statusContainer {
  display: flex;
}

@media (max-width: 768px) {
  .card {
    padding: 10px 20px;
  }

  .itemPrimary {
    grid-column: span 2;
    height: auto;
  }

  .itemSecondary {
    grid-column: span 1;
    height: auto;
  }

  .titlePrimary {
    font-size: var(--font-size-2xl);
  }

  .titleSecondary {
    font-size: var(--font-size-l);
  }

  .text {
    font-size: var(--font-size-s);
  }
}

@media (max-width: 576px) {
  .itemSecondary, .itemPrimary {
    grid-column: span 1;
  }
}
